src/CurrentSymbolTable.java
src/MyWaccVisitor.java
src/SemanticAnalyser/AssignmentAST.java
src/SemanticAnalyser/DeclarationAST.java
src/SemanticAnalyser/Dictionary.java
src/SemanticAnalyser/ExpressionAST.java
src/SemanticAnalyser/ForAST.java
src/SemanticAnalyser/IDENTIFIER.java
src/SemanticAnalyser/IfAST.java
src/SemanticAnalyser/SharedMethods.java
src/SemanticAnalyser/StatementAST.java
src/SemanticAnalyser/SymbolTable.java
src/SemanticAnalyser/TYPE.java
src/SemanticAnalyser/VARIABLE.java
src/SemanticAnalyser/ARRAY_TYPE.java
src/Main.java
src/antlr/WaccLexer.java
src/antlr/WaccParser.java
src/antlr/WaccParserVisitor.java
src/antlr/WaccParserBaseVisitor.java
