src/antlr/WaccLexer.java
src/antlr/WaccParser.java
src/antlr/WaccParserBaseVisitor.java
src/antlr/WaccParserVisitor.java
src/CurrentSymbolTable.java
src/Main.java
src/MyWaccVisitor.java
src/SemanticAnalyser/ARRAY_TYPE.java
src/SemanticAnalyser/BOOL.java
src/SemanticAnalyser/CHAR.java
src/SemanticAnalyser/Dictionary.java
src/SemanticAnalyser/EQUALITY.java
src/SemanticAnalyser/FUNCTION.java
src/SemanticAnalyser/IDENTIFIER.java
src/SemanticAnalyser/INT.java
src/SemanticAnalyser/PAIR_TYPE.java
src/SemanticAnalyser/PARAM.java
src/SemanticAnalyser/SharedMethods.java
src/SemanticAnalyser/STRING.java
src/SemanticAnalyser/SymbolTable.java
src/SemanticAnalyser/TYPE.java
src/SemanticAnalyser/VARIABLE.java
