src/SemanticAnalyser/NULL.java
src/SemanticAnalyser/SharedMethods.java
src/SemanticAnalyser/PAIR_TYPE.java
src/SemanticAnalyser/SymbolTable.java
src/SemanticAnalyser/CHAR.java
src/SemanticAnalyser/FUNCTION_TYPE.java
src/SemanticAnalyser/STRING.java
src/SemanticAnalyser/FUNCTION.java
src/SemanticAnalyser/BOOL.java
src/SemanticAnalyser/INT.java
src/SemanticAnalyser/VARIABLE.java
src/SemanticAnalyser/PARAM.java
src/SemanticAnalyser/Dictionary.java
src/SemanticAnalyser/EQUALITY.java
src/SemanticAnalyser/SyntaxErrorListener.java
src/SemanticAnalyser/IDENTIFIER.java
src/SemanticAnalyser/ARRAY_TYPE.java
src/SemanticAnalyser/TYPE.java
src/Main.java
src/backEnd/PositionFragment.java
src/backEnd/Instruction.java
src/backEnd/StringFragment.java
src/backEnd/Info.java
src/backEnd/InstructionFragment.java
src/backEnd/VariableFragment.java
src/CurrentSymbolTable.java
src/antlr/WaccParser.java
src/antlr/WaccParserBaseVisitor.java
src/antlr/WaccParserVisitor.java
src/antlr/WaccLexer.java
src/MyWaccVisitor.java
